<div class="header">
</div>
<input type="checkbox" id="openSidebarMenu">

<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner top"></div>
    <div class="spinner middle"></div>
    <div class="spinner bottom"></div>
</label>
<div id="sidebarMenu">
    <ul class="menu ">
        <li>
            <a href="#" routerLink="home">Home</a>
        </li>
        <li>
            <a href="#" routerLink="about">About Us</a>
        </li>
        <li>
            <a href="#" routerLink="gallery">Gallery</a>
        </li>
        <li>
            <a href="#" routerLink="products">Products</a>
        </li>
        <li>
            <a href="#" routerLink="contact">Contact Us</a>
        </li>
    </ul>

</div>
<div class="main ">
    <router-outlet></router-outlet>
    <!-- <h1>Pure CSS Sidebar Toggle Menu</h1> -->
    <!-- <p>Pure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle MenuPure CSS Sidebar Toggle
        Menu
    </p> -->

</div>
<div class="footer">

</div>